<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> navbar }}


    <div class="container">
      {{ body }}
    </div>


    {{> footer }}
    {{> javascript }}
  </body>
</html>