<div class="blog-footer">
  <p>Blog template built for <a href="{{site.url.homepage}}">Assemble</a> by <a href="https://twitter.com/doowb">@doowb</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</div>