{{! this pages through posts that are NOT in the archives }}
<ul class="pager">
  <li><a href="{{relative @root.page.dest prev.dest}}">Previous</a></li>
  <li><a href="{{relative @root.page.dest next.dest}}">Next</a></li>
</ul>