
<h4>Archives</h4>
<ol class="list-unstyled">
  {{#each collections.archives}}
  <li><a href="{{relative ../dest this.pagination.first.dest}}">{{moment (archive-normalize archive) format=(archive-format archive)}}</a></li>
  {{/each}}
</ol>
