---
layout: base
title: Archives <%= archive %>
---
<div class="blog-header">
  <h1 class="blog-title">{{site.title}}</h1>
  <p class="lead blog-description">{{site.description}}</p>
</div>

<h1>{{title}}</h1>

<div class="row">
  <div class="col-sm-8 blog-main">
    {{> paginator pagination }}

    {{#each related-pages}}
      {{> excerpt . }}
    {{/each}}

    {{> paginator pagination }}
  </div><!-- /.blog-main -->


  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    {{> sidebar }}
  </div><!-- /.blog-sidebar -->
</div><!-- /.row -->